@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

:root {
  --main_color_Blue: #2196F3;
  --sub_color_Black: #333333;
  --main_font: 'Inter'
}

* {
  box-sizing: border-box;
}

.p_color_main {
  color: var(--main_color_Blue);
}
.p_color_black {
  color: var(--sub_color_Black);
}

body {
  margin: 0px;
  padding: 0px;
}