@media screen and (max-width:430px) {
  
  /*---------- 공통 & 초기 설정 ----------*/
  body {
    width: 430px;
    height: auto;
  }

  /*---------- 헤더 ----------*/
  header {
    width: 100%;
    height: 110px;
    background-color: var(--main_color_Blue);
    font-size: 12px;
    font-family: var(--main_font);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header > div {
    width: 100%;
    height: 30%;
  }

  /* 텍스트 박스 */
  header > .text_box {
    font-size: 1em;
    font-weight: 900;
    color: white;
  }

  /*---------- 네비 ----------*/
  nav {
    display: none;
  }
  
  /*---------- 메인  ----------*/
  
  main {
    width: 100%;
    height: auto;
    font-size: 12px;
  }

  /*--- 1번 컨텐츠 ---*/
  
  main > .C_01_box {
    width: 100%;
    height: 822px;
    font-family: var(--main_font);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* 주 텍스트 */
  main > .C_01_box > .post {
    height: 60%;
    font-size: 8em;
    font-weight: 700;
    line-height: 0.55em;
    display: inherit;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    right: 0.3em;
  }
  /* 히든 리스트 */
  main > .C_01_box > .button {
    height: 20%;
    display: inherit;
    align-items: flex-end;
  }
  /* 서브 텍스트 */
  main > .C_01_box > .sub_post {
    height: 20%;
    font-weight: 400;
    font-size: 1em;
    width: 285px;
    text-align: center;
    display: inherit;
    align-items: center;
  }

  /*--- 2번 컨텐츠 ---*/
  
  main > .C_02_box {
    width: 100%;
    height: 732px;
    background-color: var(--main_color_Blue);
    font-size: 10em;
    font-weight: 400;
    display: flex;
  }
  /* 주 텍스트 */
  main > .C_02_box > .post {
    height: 100%;
    padding-left: 0.2em;
    color: white;
    font-family: 'Karantina';
    display: inherit;
    flex-direction: column;
    justify-content: center;
  }
  main > .C_02_box > .post > span:nth-child(3) {
    border-bottom: 5px solid white;
  }
  /* 히든 리스트 */
  main > .C_02_box > .H_li {
    padding: 0.1em;
    display: inherit;
    align-items: center;
    color: white;
    font-size: 0.7em;
  }

  /*---------- 푸터  ----------*/
  footer {
    width: 430px;
    height: 200px;
    font-family: var(--main_font);
    font-size: 8px;
    font-weight: 400;
    background-color: var(--sub_color_Black);
    padding: 5em;
  }
  /* 주 텍스트 */
  footer > .f_post {
    width: 100%;
    height: 40%;
  }
  /* 정보(info) */
  footer > .info {
    width: 100%;
    height: 60%;
    border-top: 2px solid white;
    padding-top: 0.5em;
  }
  footer > .info > p {
    margin: 0px;
    padding: 0px;
    line-height: 2em;
    color: white;
  }
}